<?xml version="1.0"?>

<model>
  <name>Pardo020 TurtleBot3 World</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>
  

  <description>
    World of TurtleBot3 with ROS symbol, but with one of the circles modified 
    to a + by Nikolas Pardoe (pardo020@umn.edu) for his CSCI 5551 project
  </description>
</model>
